<html>

<body>
        <h1>Profile Page</h1>
         <div>
            <ul>
                <li>UserName : <%= user.username %></li>
                <li>Role : <%= user.role %></li>
            </ul>
    </div>
</body>
</html>