extends layout

block content
    h1= message
    p Welcome to #{message}


    <!DOCTYPE html>
    <html lang="en">
    <body>
        <h1><%= message %></h1>
        <p>Welcome to <%= message %></p>
    </body>
    </html>